<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./js/vue.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        img {
            width: 80px;
            height: 80px;
        }
    </style>
</head>

<body>
    <!-- 2.画静态页面 -->
    <div id="app" class="container">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" v-model="allChecked" @change="changeAll" />全选
                    </th>
                    <th>商品信息</th>
                    <th>商品单价</th>
                    <th>商品数量</th>
                    <th>商品总价</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item,index) in goods" :key="item.id">
                    <td>
                        {{item.checked}}
                        <input type="checkbox" v-model="item.checked" @change="changeOne" />
                    </td>
                    <td>
                        <div>{{item.name}}</div>
                        <img :src="item.img" alt="">
                    </td>
                    <td>{{item.price |filterPrice}}</td>
                    <td>
                        <button class="btn btn-default" @click="sub(index)">-</button>
                        {{item.num}}
                        <button class="btn btn-primary" @click="add(index)">+</button>
                    </td>
                    <td>{{item.price*item.num |filterPrice}}</td>
                    <td>
                        <button class="btn btn-danger" @click="del(index)">删除</button>
                    </td>
                </tr>
                <tr>
                    <td>总价</td>
                    <td colspan="5">{{allPrice |filterPrice}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>

        let arr = [
            {
                id: 1,
                name: "SK2",
                price: 1199.99,
                num: 1,
                img: "https://img12.360buyimg.com/n7/jfs/t1/137665/26/18133/143963/5fd2045eEf89a1a12/dbb0214f787d300f.jpg"
            },
            {
                id: 2,
                name: "小灯泡",
                price: 1500.00,
                num: 1,
                img: "https://img13.360buyimg.com/n7/jfs/t1/155483/34/9027/107200/5fd09ca8Efec3d51e/11f282619cb0b0a9.jpg"
            },
            {
                id: 3,
                name: "极光水",
                price: 790.9,
                num: 1,
                img: "https://img10.360buyimg.com/n7/jfs/t1/141119/39/16872/166521/5fc9dd33Eb8ab1c0d/ccd51f30e636891e.jpg"
            }
        ]





        // 4.价格过滤器
        Vue.filter("filterPrice", (price) => {
            return price.toFixed(2)
        })
        new Vue({
            el: "#app",
            data: {
                // 1.模拟数据
                goods: [],
                //7.全选状态
                allChecked: false
            },
            //一进来页面就要获取数据
            mounted() {
                //数据从后端取回来之后，先做逻辑，再赋值
                // arr.forEach(item => {
                //     item.checked = false
                // })
                this.goods = arr

            },
            methods: {
                //3. num +
                add(index) {
                    this.goods[index].num++;
                    /* 1.
                    if (this.goods[index].num >= 5) {
                        this.goods[index].num = 5
                    }*/

                    /*2.
                     this.goods[index].num=this.goods[index].num>=5?5:this.goods[index].num*/

                    /*
                    3 5 3 
                    6 5 5 
                    n 5 Math.min(n,5)
                    */
                    this.goods[index].num = Math.min(this.goods[index].num, 5)

                },
                //5.num - 
                sub(index) {
                    this.goods[index].num--;
                    this.goods[index].num = Math.max(this.goods[index].num, 1)
                    /*
                    3 1 3 
                    -1 1 1 
                    n 1 Math.max(n,1)
                    */
                },
                //6.删除
                del(index) {
                    this.goods.splice(index, 1)
                },
                //8.点了全选
                changeAll() {
                    this.goods.map(item => {
                        item.checked = this.allChecked
                    })
                },
                //9.点了某一个的checkbox
                changeOne() {
                    console.log(this.goods);
                    this.allChecked = this.goods.every(item => {
                        console.log(item.checked);
                    })
                    // console.log(this.goods);
                }
            },
            computed: {
                //10.总价
                allPrice() {
                    /*
                    let sum=0;
                    this.goods.forEach((item,index,arr)=>{
                        if(item.checked){
                            sum+=item.price*item.num
                        }
                    })
                    return sum
                    */
                    /*
                    return this.goods.reduce((total,item,index,arr)=>{
                        if(item.checked){
                            return total+=item.price*item.num
                        }else{
                            return total
                        }
                    },0)*/

                    return this.goods.reduce((total, item) => item.checked ? total += item.price * item.num : total, 0)
                }
            }
        })
    </script>
</body>

</html>